.categories-div{
    margin: 10vh 0;
}

.category-to-choose{
    width: 100%;
    cursor: pointer;
    border-radius: 30px;
}

.categories-titles{
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    width: 100%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);;
}

.categories-completed-text{
    text-align: center;
}

.redeem-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeem-coin{
    width: 50px;
}

.redeem-p{
    font-size: 1.5rem;
}

.completed-cat-p{
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 2rem; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
}


@media only screen and (max-width: 992px){
    .categories-titles{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 200;
        width: 100%;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);;
    }
}