.levels-div{
    margin: 10vh 0;
}

.levels-title{
    margin: 10vh 0;
}

.levels-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2vh;
}

.redeem-button{
    background-color: orange;
}

.completed-level-button{
    background-color: green;
}

.levels-button{
    font-size: 2rem;
    border-color: black;
    width: 100%;
    border-radius: 10px;
}

.levels-lock{
    width: 50px;
}

.logout-button{
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}
.logout-button:hover{
    transform: scale(1.05);
}

.levels-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}
.levels-button-texts-div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.levels-button-p{
    font-size: 5rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.level-btn-text{
    font-size: 3rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);;
}

.completed-btn-text{
    font-size: 1.5rem;
}

.particle{
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  opacity: 0;
  width: 60px;
  height: 60px;
  background-image: url('../media/images/coin.png');
}
@media only screen and (max-width: 992px){
    .levels-button-p{
        font-size: 3rem;
    }
    
    .level-btn-text{
        font-size: 1.5rem;
    }
    
    .completed-btn-text{
        font-size: 0.8rem;
    }
}